
body {
display: flex;
align-items: center;
 justify-content: center; 
 height: 100vh;
}


p{
    font-size: 2rem;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/descarga.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }